* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  background-image: url("./../img/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 0.8;
}
.header-title {
  font-size: 2em;
  font-weight: bolt;
}

.header-text {
  margin: 20px;
}
.header-link {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
}
.header-link:hover {
  background-color: white;
  color: black;
  transition-delay: 0.2s;
}
.section1 {
  background: #eaeaea;
  padding-bottom: 20px;
}
.section1-title,
.section3-title {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 25px;
}
.section1-text,
.section3-text {
  display: block;
  margin: 20px auto;
  max-width: 800px;
}

.section2 {
  display: flex;
  justify-content: center;
  background: #333;
}
.section2-card {
  max-width: 250px;
  background-color: #fff;
  margin: 30px 0;
}
.section2-card:not(nth-last-child) {
  margin-left: 20px;
}

.section2-img {
  width: 250px;
  height: 150px;
  background: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section2-title {
  font-size: 1.17em;
  font-weight: bold;
  margin: 40px 0;
}
.section2-text {
  margin: 0 15px 30px;
}
.section3 {
  background-color: #fff;
  padding-bottom: 20px;
}
.section4 {
  display: flex;
  color: white;
}
.section4-contacts {
  background-color: #2690d4;
  padding: 40px;
}
.section4-contacts-title,
.section4-about-title {
  font-size: 1.5em;
  margin: 20px auto;
}
.section4-contacts-email {
  padding-top: 20px;
}
.section4-about {
  background-color: #333;
  padding: 40px;
}
.footer {
  min-height: 80px;
  display: flex;
  background-color: #000;
  color: white;
}
.footer > div {
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}
.footer > div > span {
  color: #2690d4;
}
