/** @format */
:root {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  text-align: center;
}
.header {
  min-height: 450px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.header,
.information,
.footer {
  color: #fff;
}
.header::before {
  content: "";
  background-image: url("./../img/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
}
.header-container,
.development-container,
.direction-development-container,
.digital-needs-container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-title,
.development-title,
.direction-development-card-title,
.digital-needs-title {
  margin-bottom: 10px;
}
.header-title {
  font-size: 2em;
}
.header-title,
.development-title,
.direction-development-card-title,
.digital-needs-title,
.information-contacts-title,
.information-about-title {
  font-weight: bold;
}
.development-title,
.direction-development-card-title,
.digital-needs-title,
.information-contacts-title,
.information-about-title {
  font-size: 1.5em;
}
.header-text,
.information-contacts-title,
.information-about-title {
  margin-bottom: 20px;
}
.header-link {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  padding: 1em 2em;
  border: 1px solid #666;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-link:hover {
  background-color: #fff;
  color: #000;
  transition-delay: 0.2s;
}
.development,
.digital-needs,
.information-contacts,
.information-contacts,
.information-about {
  background: #eaeaea;
  padding: 20px;
}
.development-text {
  column-count: 2;
}
.direction-development {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
}
.hidden-title {
  position: absolute;
  left: 5000%;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.direction-development-card {
  max-width: 300px;
  background-color: #fff;
  margin: 20px;
}
.direction-development-img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.direction-development-card-content {
  padding: 20px;
}
.small-section {
  width: 50%;
}
.information-contacts {
  background-color: #2690d4;
}
.information-about {
  background: #444;
}
.information-contacts-email {
  margin-top: 20px;
}
.footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000;
  padding: 20px;
}
.footer-link {
  color: #2690d4;
  text-decoration: none;
}
